{% extends 'maintemplate.html' %}

{% block container %}
<section class="course-detail-section">
    <div class="container">
        <div class="course-detail-header">
            <img src="{{media_url}}images/{{course.image_path}}" alt="Course Image">
            <div class="course-info">
                <h1>{{course.title}}</h1>
                <p>Teacher: {{course.teacher}}</p>
                <p>Price: {{course.price}}</p>
                <p>Time: {{course.time}} hours</p>
                <p>Level: {{course.level}}</p>
                <p>Class Number: {{course.class_number}}</p>
                <p>Score: 
                    <span class="stars">
                        ★★★★☆
                    </span> 
                    ({{course.score}}/5)
                </p>
            </div>
        </div>
        <div class="course-description">
            <h2>Description</h2>
            <p>{{course.description}}/</p>
        </div>
    </div>
</section>
{% endblock %}
