# Ignore all __pycache__ directories and their contents
__pycache__/

# Alternatively, ignore all Python bytecode files
*.pyc

# Or, specifically ignore .pyc files in darslab/__pycache__
darslab/__pycache__/*.pyc
