<header class="header">
    <div class="header-left">
        <a href="{% url "sign-in" %}" class="signin">Sign In</a>
        <a href="{% url "sign-out" %}" class="signup">Sign Up</a>
    </div>
    <div class="header-center">
        <h1 class="logo">DARSLAB</h1>
    </div>
    <div class="header-right">
        <a href="#" class="nav-link">About</a>
        <a href="{% url "courses" %}" class="nav-link">Courses</a>
        <a href="{% url "contact" %}" class="nav-link">Contact</a>
        <a href="{% url "main-index" %}" class="nav-link">Home</a>
    </div>
</header>